generic/classic/ShipitSmarterStandardEDISchema.xsd

<!-- edited with XMLSpy v2010 (http://www.altova.com) by Peter Gasparik (None) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="xml">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header" type="Header"/>
				<xs:element name="Shipment" type="Shipment" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Header">
		<xs:all>
			<xs:element name="CodeCompany" type="CodeCompany"/>
			<xs:element name="CustomerIdentifier" type="CustomerIdentifier" minOccurs="0"/>
			<xs:element name="CodeHandlingAgent" type="CodeHandlingAgent" minOccurs="0"/>
			<xs:element name="CustomerHandlingAgent" type="CustomerHandlingAgent" minOccurs="0"/>
			<xs:element name="MessageId" type="MessageId"/>
			<xs:element name="CodeCarrier" type="CodeCarrier" minOccurs="0"/>
			<xs:element name="CustomerCodeCarrier" type="CustomerCodeCarrier" minOccurs="0"/>
			<xs:element name="MessageDateTime" type="MessageDateTime"/>
			<xs:element name="MessageType" type="MessageType"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="CodeCompany">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerIdentifier">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeHandlingAgent">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerHandlingAgent">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageId">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeCarrier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomerCodeCarrier">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageDateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([1-9])|([0][1-9])|([1-2][0-9])|([3][0-1]))-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\-\d{4} (([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="book"/>
			<xs:enumeration value="update"/>
			<xs:enumeration value="cancel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Shipment">
		<xs:sequence>
			<xs:element name="CodeShipment" type="CodeShipment" minOccurs="0"/>
			<xs:element name="Reference" type="Reference" minOccurs="0"/>
			<xs:element name="SenderAddress" type="AddressSet" minOccurs="0"/>
			<xs:element name="ReceiverAddress" type="AddressSet" minOccurs="0"/>
			<xs:element name="InvoiceAddress" type="AddressSet" minOccurs="0"/>
			<xs:element name="CollectionAddress" type="AddressSet" minOccurs="0"/>
			<xs:element name="ThirdPartyAddress" type="AddressSet" minOccurs="0"/>
			<xs:element name="VolumeUnit" type="VolumeUnit" minOccurs="0"/>
			<xs:element name="WeightUnit" type="WeightUnit" minOccurs="0"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
			<xs:element name="Pieces" type="xs:integer" minOccurs="0"/>
			<xs:element name="Value" type="xs:decimal" minOccurs="0"/>
			<xs:element name="CodeCurrencyValue" type="CodeCurrencyValue" minOccurs="0"/>
			<xs:element name="DatePickup" type="Date" minOccurs="0"/>
			<xs:element name="TimePickup" type="TimePickup" minOccurs="0"/>
			<xs:element name="CodeVAT" type="CodeVAT" minOccurs="0"/>
			<xs:element name="ServiceLevel" type="ServiceLevel" minOccurs="0"/>
			<xs:element name="DeliveryCondition" type="DeliveryCondition" minOccurs="0"/>
			<xs:element name="Courier2" type="Courier2" minOccurs="0"/>
			<xs:element name="Awb1" type="Awb" minOccurs="0"/>
			<xs:element name="Awb2" type="Awb" minOccurs="0"/>
			<xs:element name="Awb3" type="Awb" minOccurs="0"/>
			<xs:element name="DateDeliveryPlan" type="Date" minOccurs="0"/>
			<xs:element name="TimeDeliveryPlan" type="Time" minOccurs="0"/>
			<xs:element name="AccountTransport" type="AccountTransport" minOccurs="0"/>
			<xs:element name="AccountDuties" type="AccountDuties" minOccurs="0"/>
			<xs:element name="IndDangerous" type="YesOrNo" minOccurs="0"/>
			<xs:element name="CostCenter" type="CostCenter" minOccurs="0"/>
			<xs:element name="Inbound" type="YesOrNo" minOccurs="0"/>
			<xs:element name="ShipmentInstructionList" type="ShipmentInstructionList" minOccurs="0"/>
			<xs:element name="CommercialInvoice" type="CommercialInvoice" minOccurs="0"/>
			<xs:element name="ShipmentPackage" type="ShipmentPackage" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeShipment">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99999999999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Reference">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VolumeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cm"/>
			<xs:enumeration value="inch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WeightUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="kg"/>
			<xs:enumeration value="lbs"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Description">
		<xs:restriction base="xs:string">
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeCurrencyValue">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([1-9])|([0][1-9])|([1-2][0-9])|([3][0-1]))\-(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\-\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Time">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimePickup">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeVAT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceLevel">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DeliveryCondition">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Courier2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Awb">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountTransport">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountDuties">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesOrNo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CostCenter">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ShipmentInstructionList">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommercialInvoice">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShipmentPackage">
		<xs:all>
			<xs:element name="Sequence" type="Sequence" minOccurs="0"/>
			<xs:element name="Weight" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Length" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Width" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Height" type="xs:decimal" minOccurs="0"/>
			<xs:element name="Package" type="Package" minOccurs="0"/>
			<xs:element name="Description" type="Description" minOccurs="0"/>
			<xs:element name="Awb" type="PackageAwb" minOccurs="0"/>
			<xs:element name="Reference" type="Reference" minOccurs="0"/>
			<xs:element name="IndStackable" type="YesOrNo" minOccurs="0"/>
			<xs:element name="CommercialInvoice" type="CommercialInvoice" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="Sequence">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Package">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PackageAwb">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressSet">
		<xs:all>
			<xs:element name="Address" type="Address"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:all>
			<xs:element name="CompanyName" type="CompanyName" minOccurs="0"/>
			<xs:element name="StreetAddress1" type="StreetAddress" minOccurs="0"/>
			<xs:element name="StreetAddress2" type="StreetAddress" minOccurs="0"/>
			<xs:element name="StreetAddress3" type="StreetAddress" minOccurs="0"/>
			<xs:element name="StreetNumber" type="StreetNumber" minOccurs="0"/>
			<xs:element name="City" type="City" minOccurs="0"/>
			<xs:element name="CodeState" type="CodeState" minOccurs="0"/>
			<xs:element name="Postcode" type="Postcode" minOccurs="0"/>
			<xs:element name="Country" type="Country" minOccurs="0"/>
			<xs:element name="VAT" type="VAT" minOccurs="0"/>
			<xs:element name="ContactName" type="ContactName" minOccurs="0"/>
			<xs:element name="ContactPhone" type="ContactPhone" minOccurs="0"/>
			<xs:element name="ContactEmail" type="ContactEmail" minOccurs="0"/>
			<xs:element name="Account" type="Account" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="CompanyName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetAddress">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StreetNumber">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="City">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeState">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Postcode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Country">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VAT">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactName">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactPhone">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ContactEmail">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Account">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
